<section class="editor">
  <strong>Editor</strong>
  <div>
    <label>Rank No.</label>
    <input type="number" [(ngModel)]="rank_no">
  </div>
  <div>
    <label>Add option</label>
    <button (click)="addOption()">+</button>
    <div *ngFor="let option of options;let i = index">
      <span>{{option.title +(i+1)}}</span><button (click)="deleteOption(i)" *ngIf="options.length>2">X</button>
    </div>
  </div>
</section>
<hr>
<section>
  <strong>Builder</strong>
  <div class="builder">
    <label>Question title goes here</label><br>
    <div *ngFor="let option of options;let i = index">
      <span>{{option.title +(i+1)}}</span>
      <span *ngFor="let rank of rankArray">
        <input type="radio" name="{{i}}" class="{{rank}}" (click)="check(rank,$event)">
      </span>
    </div>
    <table>
      <thead>
        <tr>
          <td></td>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</section>