<section class="editor">
  <strong>Editor</strong>
    <div>
    <label>Add option</label>
    <button (click)="addOption()">+</button>
    <div *ngFor="let option of options;let i = index">
      <span>{{option.title +(i+1)}}</span><button (click)="deleteOption(i)" *ngIf="options.length>2">X</button>
    </div>
  </div>
</section>
<hr>
<section>
  <strong>Builder</strong>
  <div class="builder">
    <label>Question title goes here</label><br>
    <div *ngFor="let option of options;let row_index = index">
      <span>{{option.title +(row_index+1)}}</span>
      <span *ngFor="let rank of options;let column_index=index">
        <input type="radio" name="{{row_index}}" class="{{column_index}}" (click)="check(row_index,column_index,$event)">
      </span>
    </div>
  </div>
</section>